<!-- Navbar -->
    <nav
         :class="dark ? 'navbar navbar-expand-lg sticky-top navbar-dark bg-dark shadow-sm text-white border-bottom' 
                : 'navbar navbar-expand-lg sticky-top navbar-light bg-white shadow-sm'"
         >
      <div class="container">
        <a class="navbar-brand fw-bold">InternHub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-2">
              <li class="nav-item">
                <!-- ✅ Light/Dark Mode Toggle -->
                <button class="btn nav-item nav-button-style" :class="dark ? 'nav-button-style-dark' : 'nav-button-style'" @click="toggleTheme()">
                  <span x-text="dark ? 'Light Mode' : 'Dark Mode'"></span>
                </button>
              </li>
            {% if not request.user.is_authenticated %}
              <li class="nav-item"><a class="btn nav-button-style" :class="dark ? 'nav-button-style-dark' : 'nav-button-style'" href="{% url 'index' %}">Welcome</a></li>
              <li class="nav-item"><a class="btn nav-button-style" :class="dark ? 'nav-button-style-dark' : 'nav-button-style'" href="{% url 'login' %}">Login</a></li>
              <li class="nav-item"><a class="btn nav-button-style" :class="dark ? 'nav-button-style-dark' : 'nav-button-style'" href="{% url 'signup' %}">Get started</a></li>
            {% else %}
              <li class="nav-item"><a class="btn nav-button-style" :class="dark ? 'nav-button-style-dark' : 'nav-button-style'" href="{% url 'dashboard' %}">Dashboard</a></li>
              <li class="nav-item"><a class="btn nav-button-style" :class="dark ? 'nav-button-style-dark' : 'nav-button-style'" href="{% url 'logout_view' %}">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>