{% extends 'base_templates/base.html' %}
{% block content %}
<div class="background-color-styling">
    <div class="d-flex flex-column align-items-center">
        <div class="signup-container-styling" :class="dark ? 'text-black' : 'text-black'">
            <h2 class="text-center fw-bold mb-4">Sign Up</h2>
            
            <form method="post" class="d-flex flex-column gap-2">
                {% csrf_token %}
                
                <div>
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>

                <div>
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>

                <div>
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                </div>

                <div>
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                </div>

                {% if form.errors %}
                    <div class="alert alert-danger text-center">
                        Please correct the errors below.
                    </div>

                    <ul class="text-center list-unstyled mb-0">
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                <li class="text-danger">
                                    <strong>{{ field.label }}:</strong> {{ error }}
                                </li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        {% for error in form.non_field_errors %}
                        <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}


                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="signup-button-styling">Create Account</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
